/* header, p, button{
    text-align: center;
} */

/* .quizBtn{
    background-color: brown;
} */

ul {
   list-style-type: none;
   
}

ul li{
    margin : 3px;
    background-color: darkseagreen;
   
}

.time{
   
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
      }

