/* header, p, button{
    text-align: center;
} */

/* .quizBtn{
    background-color: brown;
} */
.header {

    background-color: darkseagreen;

    padding: 7px 50px;

    /* font-weight: 500; */

}

header{
    text-align: center;
    margin-top : 10px;
}

#timer {

    float: right;

}

ul {
   list-style-type: none;
   
}

ul li{
    margin : 3px;
    background-color: darkseagreen;
   
}

@media screen and (max-width: 337px) {
    #highscore{
      
        margin-left  : 55px
    }
  

    #timer{
        margin-bottom: 8px;
        margin-right:75px;
    }
}